.custom-navbar {
    background-color: #ffff !important; // Màu nền đen
    color: black !important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1051;
    padding: 0px;
    box-shadow: 0px 1px 0 rgba(0, 0, 0, 0.1);
    .nav-link,
    .navbar-brand {
      color: black !important; // Màu chữ đen cho các link
  
    //   &:hover {
    //     background-color: gray !important; // Màu chữ trắng khi hover
    //   }
    }
    .nav-item {
      color: white !important;
    }
    .dropdown-item {
      color: black !important; // Màu chữ đen cho dropdown items
  
      &:hover {
        background-color: grey; // Màu nền khi hover trên dropdown items
      }
    }
    .cart-icon {
      position: relative; /* Đặt ở vị trí cố định */
      cursor: pointer; /* Thay đổi con trỏ khi hover */
      display: inline-flex; /* Sử dụng flexbox để căn giữa */
      align-items: center; /* Căn giữa theo chiều dọc */
      .cart-count {
        position: absolute; /* Định vị tuyệt đối để căn giữa */
        top: 0; /* Đặt ở trên cùng */
        right: 0; /* Đặt ở bên phải */
        transform: translate(50%, -50%); /* Dịch chuyển để căn giữa */
        background-color: red; /* Màu nền */
        color: white; /* Màu chữ */
        border-radius: 50%; /* Bo cong */
        width: 20px; /* Chiều rộng */
        height: 20px; /* Chiều cao */
        display: flex; /* Sử dụng flexbox để căn giữa chữ */
        justify-content: center; /* Căn giữa theo chiều ngang */
        align-items: center; /* Căn giữa theo chiều dọc */
        font-size: 12px; /* Kích thước chữ */
      }

      span{
        position: absolute;
        right: -100%;
        top: -26%;
        background-color: red;
        width: 20px;
        line-height: 20px;
        text-align: center;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        font-size: 10px;
      }
    

    }

    

   .sub-menu-nam,.sub-menu-nu{
    position: absolute;
    left: 0;
    right: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    top: 100%;
    width: 100%;
    background-color:#ffff;  
    padding-top: 30px;
    display: none;


    ul{
        list-style-type: none;
        min-width: 200px;
        li{
          line-height: 30px;
        }
        img{
          height: 220px;
        }
    }
    .overlay{
        position: absolute;
        // background-color: rgba(255, 255, 255, 0.5);
        left: 0;    
        right: 0;
        height: 100vh;
        display: none;
        backdrop-filter: blur(50px);


       
      
    }

    
    }

    .category{
    
        &:hover .sub-menu-nam
        {
            cursor: pointer;
            display: block;
        }
        
        &:hover .overlay{
            display: block;
        }
        &:hover .sub-menu-nu
        {
            cursor: pointer;
            display: block;
        }
        
        &:hover .overlay{
            display: block;
        }
   }
  
   .icon-search{
    color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    font-size: 20px;
   }
   .input-search{
    width: 160px;
    height: 30px;
    border-radius: 60px;
    padding-left: 36px;
    line-height: 40px;
   }
   a {
    text-decoration: none; /* Loại bỏ gạch chân */
    color: inherit; /* Kế thừa màu sắc từ phần tử cha */
  }
  
  a:hover {
    color: inherit; /* Giữ màu sắc khi di chuột */
  }
   
   }


   .position-relative {
    position: relative;
  }